@include tablet {
    .contenedor-anuncios{
        @include grid(4, 1rem);
    }
}

.anuncio {
    background-color: lighten($gris,5);
    border: 1px solid darken($gris, 5);

    .contenedor-anuncios{
        padding: 1rem;
    }
    h3, p {
        margin: 0;
        
    }

    .precio{
        color: $verde;
        font-weight: $bold;
        font-size: 3rem;
    }
}    

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
}

.iconos-caracteristicas li {
    flex: 1;
    display: flex;
}

.iconos-caracteristicas li img {
    flex: 0 0 5rem;
    margin-right: 1rem;
}

.iconos-caracteristicas li p {
    font-weight: $black;
}

.imagen-reducida {
    width: 300px;
    height: 220px;
    
    
}