.footer{
    padding: 2.5rem;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenido-footer{
        padding-top: 2rem;
    }
    
    .copyright{
        color: $blanco;
        text-align: center;
    }
}